[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cblue(%an%Cgreen %cr%Cblue)%Creset' --abbrev-commit --date=relative
    serve = daemon --reuseaddr --base-path=. --export-all --verbose
    ff = merge --ff-only
    c = checkout
    s = status
    b = checkout -b
[user]
	name = Sam Dalton
	email = mail@samdalton.co.nz
[github]
    user = samdalton
[color]
	ui = auto
